<h1 class="heading">Here are your robots!</h1>
<% @robots.each do |robot| %>
  <div class="col-md-4 text-center">
    <img src=<%= robot.avatar %>></img>
    <h3><%= robot.name %> </h3>
    <a href="/robots/<%= robot.serial_number %>"><button class="btn btn-default">View Profile</button></a>
    <br /><br />
  </div>
<% end %>
