<h1>Create New Robot</h1>
<form action="/robots" method="post">
  <label for="robot[name]">Name</label>
  <input type="text" name="robot[name]" required="required" />
  <label for="robot[city]">City</label>
  <input type="text" name="robot[city]" required="required" />
  <label for="robot[state]">State</label>
  <input type="text" name="robot[state]" required="required" />
  <label for="robot[birthdate]">Birthdate</label>
  <input type="date" name="robot[birthdate]" required="required" />
  <label for="robot[date_hired]">Date Hired</label>
  <input type="date" name="robot[date_hired]" required="required" />
  <label for="robot[department]">Department</label>
  <input type="text" name="robot[department]" required="required" />
  <button type="submit" class="btn btn-default">Create Robot</button>
</form>
